.Tweet{
  background-color: AliceBlue;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.tweet_username{
  margin-top: 10px;
}

.tweet_username span{
  font-size: 25px;
}

.tweet_time span{
  font-size: 8px;
  font-color:lightgray;
  font-style: italic;
}

.heart_icon{
  margin-left: 0px;
  margin-right: 10px;
}

.tweet_btn{
}

.like_btn{
  
}

.likes_and_retweet >*{
  margin-left: 15px;
  margin-right: 15px;
}

.likes_and_retweet{
   padding-left: 15px;
}


.tweet_content{
   padding-right: 30px;
   padding-left: 30px;
}

.user_thumbnail{
   width : 80px;
   height: 80px;
   padding: 15px 15px 15px 15px;
}
